name: Security Analysis

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    sca:
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Setup node js
              uses: actions/setup-node@v4
              with:
                node-version: '20'

            - name: Install dependencies
              run: npm install

            - name: Run sca scan
              uses: snyk/actions/node@master
              env:
                SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
              with:
                args: --severity-threshold=high --json-file-output=sca-report.json

            - name: Upload report
              uses: actions/upload-artifact@v4
              if: always()
              with:
                name: sca-report
                path: sca-report.json